_site
node_modules
.astro
dist
.helix
*.tar.gz
*.epub
*.pdf
*.zip
*.mobi
*.docx
.env
*.py
*.bat
dist-check
public/static/books/
public/static/images/people/
freely-given-books-data/
tmp
_downloads
public/static/og/preview.html
public/static/avatars/
